$colors: (
    common: (
        white: #ffffff,
        black: #121212,
        light-white: #CFCFCF,
        background: #FBF8DF,
        border: #C4C4D0,
    ),
    heading: (
        primary: #1D2635,
    ),
    text: (
        body:#505968,
    ),
    theme: (
        primary: #AF2F0D, 
        secondary: #121212,
    ),
    border: (
        1: #3A393A,
        2: #5B5A66,
    ),
    bg: (
        page: #FDFCF2,
    )
);